.card {
  width: 200px;
  height: 200px;
  margin: 20px;
  display: flex;
  justify-content: center;
  align-content: center;
}

.active {
  border: 1px solid blue;
}

.fullScreen {
  width: 1000px;
  height: 800px;
}

.sunny {
  background-color: #F2F27A;
}

.overcast {
  background-color: #A9A9A9;
}

.cloudy {
  background-color: #f0f5d8;
}

.rainy {
  background-color: #d3e4ec;
}

.card > div {
  margin: auto;
}